/******************************NAVBAR********************************/
header {
    border-bottom: 1.25px solid black;
    background: #fff;
    width: 100%;
    z-index: 4;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.95;
}

.desktop-menu {
    display: none;
}

.desktop-menu div a {
    cursor: pointer !important;
}

.burgerMenu {
    font-size: 2.8em;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #E9F3F4;
    opacity: 0.95;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 2em;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
}

.overlay a {
    padding: 0.5em;
    text-decoration: none;
    font-size: 1.1em;
    color: #494D66;
    display: block;
    transition: 0.5s;
    text-align: center;
    padding-bottom: .7em;
}

.overlay a:hover {
    color: #878787;
    font-family: 'Montserrat', sans-serif;
}

.closebtn {
    position: absolute;
    right: -.3em;
    top: 1.2em;
    cursor: pointer;
    border: none;
    font-size: 2em;
    background: none;
    width: 20%;
}

.closebtn:hover {
    transform: rotate(180deg);
    font-size: 2.3em;
    transition: .5s;
}

.logo {
    height: 3.5em;
    cursor: pointer;
}

.bag {
    margin-top: 5px;
    height: 2.5em;
    cursor: pointer;
}

.menu {
    height: 0.7em;
}

.headerAdj {
    display: flex;
    justify-content: space-between;
    margin: 0.5em 1em;
}

/********************************************************************/



/* TYPOGRAPHY LINKS */

/*<link href="https://fonts.googleapis.com/css?family=Lora|Montserrat&display=swap" rel="stylesheet">*/

html {
    font-size: 100%;
    color: #2b2c30;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F6F8F7;
}

/* TYPOGRAPHY */

h1 {
    background-color: white;
    width: 300px;
    opacity: 0.85;
    font-weight: 100;
    margin-left: calc(50% - 150px);
    font-family: 'Montserrat', sans-serif;
    grid-column: 1/span 2;
    text-align: center;
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin-top: 100px;
}

.header-shop h1:nth-of-type(2) {
    margin-left: calc(50% - 175px);
    width: 350px;
    margin-top: -20px;
}

h3 {
    color: #2b2c30;
    background-color: white;
    opacity: 0.85;
    font-family: 'Lora', serif;
    max-width: 300px;
    font-weight: 100;
    grid-column: 1/span 2;
    text-align: center;
    margin-left: calc(50% - 150px);
    font-size: 1.3rem;
    margin-bottom: 3rem;
}

h3:nth-of-type(2) {
    margin-top: -40px;
    max-width: 250px;
    margin-left: calc(50% - 125px);
}

.text-over h4 {
    font-family: 'Lora', serif;
    font-weight: 900;
    font-size: 1.6rem;
    color: white;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: white;
    text-shadow: 3px 3px 10px black;
}

.text-over p {
    font-family: 'Lora', serif;
    font-weight: 900;
    font-size: 1rem;
    margin-top: -20px;
    width: 250px;
    margin-left: calc(50% - 125px);
    color: white;
    text-shadow: 1px 2px 14px black;
}

.categ-shop {
    font-family: 'Lora', serif;
    margin-top: 50px;
    margin-left: 10%;
    font-size: 1.3rem;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #2C2B30;
}

a {
    all: unset;
}

.social-media a:hover {
    cursor: pointer;
}

/* GRID SYSTEM CATEGORY */

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* HEADER SHOP */

.header-shop {
    margin-top: -9px;
    grid-column: 1/span 2;
    width: 100%;
    height: 300px;
    background-image: url("images/shopHeader.jpg");
    background-position: bottom;
    background-size: cover;
}

.inuit-picture {
    width: 60px;
    position: absolute;
    margin-left: calc(50% + 80px);
    transform: rotate(15deg);
}

.container-categ {
    grid-column: 1/span 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.categ {
    margin: 10px;
    text-align: center;
    width: 90%;
    height: 280px;
    display: grid;
    grid-template-rows: 135px 145px;
    grid-template-columns: 1fr 1fr 1fr;
}

.image-overlay {
    z-index: 2;
    grid-column: 1/span 3;
    grid-row: 2/span 1;
    background: linear-gradient(360deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 0) 80%);
}

.underline {
    background-image: linear-gradient(160deg, #fff 0%, #e7eaef 100%);
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-position: left bottom;
}

.underline:hover {
    transition: background-size 0.2s ease-in;
    background-size: 100% 2px;
}

.categ:hover {
    cursor: pointer;
}

.image-categ {
    grid-row: 1/span 1;
    grid-column: 1/span 3;
    height: 280px;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    filter: brightness(85%) grayscale(30%);
    transition: filter 0.5s;
}

.image-categ:hover {
    filter: brightness(100%) grayscale(0);
}

.text-over {
    z-index: 2;
    grid-row: 2/span 1;
    grid-column: 2/span 1;
}

/* HELPER CLASSES */

.hidden {
    display: none;
}

/* GRID FOOTER */

footer {
    margin-top: 50px;
    background-color: #2C2B30;
    height: 180px;
    box-shadow: -1px -1px 15px black;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 90px 40px 50px;
}

.contact-info {
    margin: 10px 15px;
    grid-column: 1/span 2;
    grid-row: 1/span 1;
    font-family: 'Montserrat', sans-serif;
    color: #F6F8F7;
    font-size: 0.8rem;
    line-height: 0.6;
}

.contact-info .contact {
    font-size: 0.9rem;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: white;
}

.social-media {
    margin-left: calc(50% - 75px);
    grid-column: 1/span 2;
    grid-row: 2/span 1;
}

.social-media img {
    width: 40px;
    margin: 5px 5px;
}

.copyright {
    grid-column: 1/span 2;
    grid-row: 3/span 1;
    margin-left: 10px;
    color: white;
    opacity: 0.3;
}

/* MEDIA QUERIES */


@media screen and (min-width:450px) {
    footer {
        height: 140px;
    }

    .footer-content {
        grid-template-rows: 90px 50px;
    }

    .contact-info {
        margin: 10px 20px;
        grid-column: 1/span 2;
        grid-row: 1/span 1;
    }

    .social-media {
        margin: 20px;
        grid-column: 2/span 1;
        grid-row: 1/span 1;
    }

    .social-media img {
        width: 40px;
        margin: 5px 5px;
    }

    .copyright {
        grid-column: 1/span 2;
        grid-row: 2/span 1;
    }
}

@media screen and (min-width:600px) {

    .header-shop {
        height: 400px;
        background-position: 30% 60%;
    }


    .container-categ article:nth-of-type(2) {}

    .container-categ article:nth-of-type(3) {
        margin-left: -3%;
    }

    .container-categ article:nth-of-type(2),
    .container-categ article:nth-of-type(3) {
        width: 42%;
    }

    .social-media {
        grid-column: 2/span 1;
        grid-row: 1/span 1;
        margin-left: calc(80% - 180px);
    }

    .social-media img {
        margin: 10px;
        width: 50px;
    }

    .contact-info {
        line-height: 8px;
    }

    .contact-info .contact {
        font-size: 1.1rem;
    }

    .contact-info .phone {
        font-size: 0.9rem;
    }

    .contact-info .email {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 900px) {

    .container-categ article:nth-of-type(1) {
        height: 340px;
        grid-template-rows: 195px 145px;
    }

    .container-categ article:nth-of-type(1) > .image-categ {
        height: 340px;
    }

    .container-categ article:nth-of-type(4) {
        height: 340px;
        grid-template-rows: 195px 145px;
    }

    .container-categ article:nth-of-type(4) > .image-categ {
        height: 340px;
    }

}

@media screen and (min-width: 1100px) {
    .container-categ {
        margin: 0 18vw;
    }

    .categ-shop {
        margin-left: 30%;
    }
}

/******************************NAVBAR BIG SCREEN********************************/
@media all and (min-width: 768px) {
    header {
        width: 100%;
    }
}

@media all and (min-width: 1024px) {

    .bag {
        display: none;
    }

    .burgerMenu {
        display: none;
    }

    .headerAdj {
        margin: 0.5em 1em;
    }

    .desktop-menu {
        display: flex;
    }

    .desktop-menu div {
        margin: auto 0;
    }

    .desktop-menu div a {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1.4em;
        text-align: center;
        text-decoration: none;
        margin: 1em;
        color: black;

    }

    .desktop-menu div a {
        position: relative;
    }

    .desktop-menu div a::after {
        content: '';
        position: absolute;
        background: #2C2B30;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transition: transform 245ms ease-in;
        transform-origin: right;
    }

    .desktop-menu div a:hover::after {
        transform: scaleX(1);
        transform-origin: left;

    }


}

main {
    margin-top: 82px;
}

/*********************************************************************/
