*:not(.fs) {
    margin: 0;
    padding: 0;
}


.fs:not(.copyright) {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background: #F6F8F7;
    overflow-x: hidden;
}

.client {
    text-align: right;
}

.client p {
    padding: 0 !important;

}

h1,
h2,
h3 {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
}

h2 {
    font-size: 1.5rem;
}

p a {
    color: #45BAC1;
}

.border {
    cursor: pointer;
}

p:not(.copyright) {
    font-size: 1.1em;
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: normal;
}

p:not(a) {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
}

main {
    margin-top: 82px;
    color: #2b2c30;
}

.arrow-left {
    cursor: pointer;
}

.arrow-right {
    cursor: pointer
}

/******************************NAVBAR********************************/
header {
    border-bottom: 1.25px solid black;
    background: #fff;
    width: 100%;
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.95;
}

.desktop-menu {
    display: none;
}

.burgerMenu {
    font-size: 2.8em;
    cursor: pointer;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #E9F3F4;
    opacity: 0.95;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 2em;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
}

.overlay a {
    padding: 0.5em;
    text-decoration: none;
    font-size: 1.1em;
    color: #494D66;
    display: block;
    transition: 0.5s;
    text-align: center;
    padding-bottom: .7em;
    cursor: pointer;

}

.overlay a:hover {
    color: #878787;
    font-family: 'Montserrat', sans-serif;
}

.closebtn {
    position: absolute;
    right: -.3em;
    top: 1.2em;
    cursor: pointer;
    border: none;
    font-size: 2em;
    background: none;
    width: 20%;
}

.closebtn:hover {
    transform: rotate(180deg);
    font-size: 2.3em;
    transition: .5s;
}

.logo {
    height: 3.5em;
    cursor: pointer;
}

.bag {
    margin-top: 5px;
    height: 2.5em;
    cursor: pointer;
}

.menu {
    height: 0.7em;
}

.headerAdj {
    display: flex;
    justify-content: space-between;
    margin: 0.5em 1em;
}

/********************************************************************/

/********************************************************************/

/******************************Home page*****************************/

.inuitone {
    height: 11vh;
    position: absolute;
    transform: translateY(-7vh);
    left: 1.5em;
}

.inuittwo {
    display: none;
    height: 9vh;
    position: absolute;
    transform: translateY(-6vh) translateX(64vw) rotate(-45deg);
    z-index: 1;
    left: 1.5em;
}

.middleimage1 {
    display: none;
}

.middleimage2 {
    display: none;
}

.para1024 {
    display: none;
}

#k1024 {
    display: none;
}

@media only screen and (min-width: 360px) {
    .inuittwo {
        transform: translateY(-3em) translateX(16em) rotate(-45deg);
    }
}

@media only screen and (min-width: 425px) {
    .inuittwo {
        transform: translateY(-3em) translateX(10em) rotate(-45deg);
    }
}

h1 {
    color: white;
    font-weight: 900;
}

.envcontainer h1 {
    color: #2c2b30;
    font-weight: 100;
    font-size: 1.5em;
    padding: 25px 0px 10px 0px;
    text-align: center;
}

.ptext p {
    color: white;
}

.button-wrap {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.border {
    background-color: #2C2B30;
    color: #fff;
    font-family: 'Montserrat', 'sans-serif';
    line-height: 0;
    border: 1px solid white;
    width: 130px;
    height: 35px;
    margin-left: 60%;
    margin-top: 28%;
    font-size: 0.9rem;
    opacity: 0.85;
}

.border:hover {
    opacity: 1;
}

.border a {
    all: unset;
    color: white;
}

#client-image {
    position: relative;
}

#story-image {
    position: relative;
}

.landscreenimg {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/lishp.jpg);
    height: 90vh;
    padding-top: 7em;
    margin-top: -10px;
}

.image-overlay {
    display: none;
    position: absolute;
    margin-top: -10px;
    object-fit: cover;
    height: 90vh;
    width: 100vw;
}

.ptext {
    text-align: center;
    color: #000;
    font-size: 1.3em;
    margin: 15% 1em;
}

.ptext h1 {
    transform: translateY(1em);
    text-shadow: 2px 2px 10px #484848;

}

.landscreenimg .ptext p {
    font-style: italic;
    transform: translateY(2em);
    font-size: 1.4em;
    width: 290px;
    margin: 1em .3em;
    margin-left: calc(50% - 125px);
    display: block;
    background-color: rgba(153, 130, 102, 0.2);
    text-shadow: 2px 2px 13px black;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: white;
}

/********************************************************************/


/*******************************story********************************/
.story h2 {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 1.3em;
    padding-bottom: 0.8em;
}

.story p {
    text-align: inherit;
    margin: 1.5em;
    padding: .5em;
    font-size: 1.1em;
}

.containerstory img {
    width: 100%
}

.quote p {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    text-align: center;
    margin: 3em 2em;
    font-size: 1.2em;
}

.middleimgs img {
    max-width: 100%;
    height: auto;
}

.middleimgs {
    text-align: center;
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2.5em;
}

.paragraph {
    display: block;
    margin: 1em;
    margin: 1.5em;
    padding: .5em;
    font-size: 1.1em;
}

.keywords {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        '. first first first'
        'second second second .'
        '. third third third'
        'fourth fourth fourth .';
}

.keywords em {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
}

#emk1 {
    grid-area: first;
}

#emk2 {
    grid-area: second;
}

#emk3 {
    grid-area: third;
}

#emk4 {
    grid-area: fourth;
}


.firstkey {
    color: #44bac0;
    text-align: right;

}

.secondkey {
    text-align: left;

}

.thirdkey {

    color: #44bac0;
    text-align: right;

}

.fourthkey {

    text-align: left;

}

/********************************************************************/

/*************************environment********************************/
.environment h2 {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 1.3em;
    padding-bottom: 0.8em;
}

.envcontainer {
    position: relative;
    width: 100%;
}

.storyimg {
    width: 100%
}

.environment p {
    margin: 1.5em;
    padding: .5em;
    font-size: 1.1em;
}

/********************************************************************/

/****************************happy clients***************************/

.happyclients h2 {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 1.3em;
    padding-bottom: 0.8em;
}

.happyclients p {
    margin: 1.5em;
    padding: .5em;
    font-size: 1.1em;
}

.inuitmot {
    margin-left: 9em;
    transform: translateY(8em) rotate(18deg);
    height: 150px;
}

/********************************************************************/

/*************************famous products****************************/
.famousproducts {
    text-align: center;
}

.famousproducts h2 {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 1.3em;
    padding-bottom: 1.4em;
}



.famous-product img {
    height: auto;
    max-width: 100%;
    cursor: pointer;
    filter: brightness(90%) grayscale(90%);
    transition: filter 0.5s;
}

.famous-product img:hover {
    filter: brightness(100%) grayscale(0);
    cursor: pointer;
}



.famous-product .item-name {
    font-family: 'Montserrat', 'sans-serif';
    margin: 10px;
    font-weight: 100;
    font-size: 1.3rem;
    color: #2c2b30;
    z-index: 3;
}

.famous-product p {
    text-align: left;
    font-weight: 600;
}

.gridproducts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: .9em 1.5em;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

.gridproducts section {
    position: relative;
    display: inline;
    width: auto;
}

.gridproducts section p {
    text-align: center;
    display: block;
    padding-top: 0;
    position: absolute;
    left: -35.2px;
    bottom: 39px;
    background: white;
    height: 30px;
    width: 100px;
    opacity: 0.9;
    transform: rotate(-90deg);
    color: #404D66;
    margin-top: 65px;
    font-size: 1.2rem;
    font-weight: 100;
    border: 1px solid black;
}

.fpb:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.fpb {
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    font-family: 'Montserrat', 'sans-serif';
    line-height: 0;
    width: 200px;
    height: 45px;
    font-size: 1.2rem;
    opacity: 0.9;
    border: 1px solid #2c2b30;
}



.fpc a {
    color: #2c2b30;
}

.fpc:hover {
    opacity: 1;
}



/********************************************************************/

/***********************ABOUT PAGE***********************************/
.liss {
    position: relative;
}

.liss img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.aboutimg {
    position: relative;
}

.aboutimg img {
    max-width: 100%;
    height: auto;
}

.aboutlisstext h2 {
    text-align: center;
    margin-top: 0.6rem;
}

.aboutlisstext p {
    margin: 1.5em;
    padding: .5em;
    font-size: 1.1em;
}

.video img {
    width: 100%
}

.abouthappyclients h2 {
    text-align: center;
    margin: 1.5em;
}

.abouthappyclients p {
    margin: 1.5em;
    padding: .5em;
    font-size: 1.1em;
}

.abouthappyclients {
    padding-bottom: 2em;
}

/********************************************************************/

/*********************ENVIRONEMNT PAGE*******************************/

/* CAROUSEL */

.envimg {
    height: 450px;
    margin-top: -10px;
}

.envimg img {
    object-fit: cover;
    width: 100%;
    height: 450px;
}

.arrow-right,
.arrow-left {
    width: 30px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.6));
    position: absolute;
    margin-top: -300px;
    margin-left: 20px;
}

.arrow-right {
    margin-left: calc(100% - 50px);
}

/* CAROUSEL EFFECTS */

.effect-switch {
    animation: anim-carous 1.5s 1 forwards;
}

@keyframes anim-carous {
    from {
        filter: brightness(30%);
    }

    to {
        filter: brightness(100%);
    }
}

.arrow-right:hover {
    animation: move-left 0.5s 1 forwards;
}

.arrow-left:hover {
    animation: move-right 0.5s 1 forwards;
}

@keyframes move-left {
    25% {
        transform: translateX(2.5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(2.5px);
    }

    100% {
        transform: translateX(-5px);
    }
}

@keyframes move-right {
    25% {
        transform: translateX(-2.5px);
    }

    50% {
        transform: translateX(-5px);
    }

    75% {
        transform: translateX(-2.5px);
    }

    100% {
        transform: translateX(5px);
    }
}

.envcontainer p {
    margin: 1.5em;
    padding: .5em;
    font-size: 1.1em;
}

.videoimgenv {
    width: 100%;
}

.envvideo p {
    margin: 1em;
    padding: .5em;
    font-size: 1.2em;
}


.envvideo button {
    text-align: center;
    margin: 1em;
    background-color: white;
    font-family: 'Montserrat', 'sans-serif';
    line-height: 0;
    width: 200px;
    height: 45px;
    font-size: 1.2rem;
    opacity: 0.9;
    border: 1px solid #2c2b30;
    margin: 30px 30px 50px 30px;
    cursor: pointer;
}


.envvideo button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.envvideo button a {
    color: #2c2b30;
}

.envvideo div {
    text-align: center;
}

.producmaterials {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.producmaterials img {
    border: 1px solid;
    height: 7em;
    background-color: white;
}



/* MODAL */

.modal {
    display: none;
    z-index: 3;
    height: 102%;
    width: 102%;
    margin: -10px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    border: 1px solid black;
    overflow-y: scroll;
    margin: 5%;
    width: 85%;
    height: 79%;
    background-color: white;
    padding: 10px;
}

.modal-content img {
    width: 300px;
}

/* TYPOGRAPHY MODAL */

.close {
    font-size: 2.5rem;
    margin-left: 90%;
    cursor: pointer;
}

.product-details {
    margin: 25px 0px;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 0.9rem;
}

.genre-modal {
    text-align: center;
    font-size: 1.1rem
}

.genre-modal p {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 900;
    color: #45BAC1;
    font-size: 0.8rem;
    display: inline;
    margin-left: 10px;
}

h2,
.price-modal,
.genre-modal,
.select-options-modal {
    font-family: 'Lora', 'serif';
}

h2 {
    margin: 0 0 0 0;
    font-size: 2.2rem;
    color: #2c2b30;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 100;
}

.price-modal {
    color: #404D66;
    margin-top: 65px;
    font-size: 1.2rem;
    font-weight: 100;
}

.img-fill {
    background-color: dimgray;
}

/* SELECT */

.select-container select {
    margin-top: 10px;
    background-color: transparent;
    padding: 5px 5px 5px 10px;
    border: none;
    border-bottom: 1px solid #808080;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 0.9rem;
}

/* GRID MODAL */

.image-section {
    margin-top: -50px;
    padding: 0px 15px;
    display: grid;
    grid-template-columns: 35px repeat(3, 1fr) 35px;
    grid-template-rows: 90px 300px 130px 90px;
}

.image-section h2 {
    grid-column: 1/span 4;
    grid-row: 1/span 1;
    padding-left: 20px;
    z-index: 2;
}

.image-section .image-modal-main {
    grid-column: 1/span 5;
    grid-row: 2/span 2;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-section .price-margin-modal {
    grid-column: 1/span 1;
    grid-row: 3/span 1;
    background-color: white;
    border: 1px solid black;
    opacity: 0.9;
}

.changer {
    cursor: pointer;
}


@media only screen and (max-width: 1023px) {

    .presentation-images-tablet {
        display: none !important;
    }
}

.image-section .presentation-images {
    margin: 10px;
    grid-column: 2/span 3;
    grid-row: 4/span 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
}

.presentation-images .image-modal-first {
    grid-column: 1/span 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.presentation-images .image-modal-second {
    grid-column: 2/span 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.presentation-images .image-modal-third {
    grid-column: 3/span 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.price-modal {
    transform: rotate(270deg);
    margin-top: 70px;
}

.info-section {
    padding: 0px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 20px 1fr;
}

.info-section .select-options {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
}

.info-section button {
    grid-column: 2/span 1;
    grid-row: 1/span 1;
    background-color: white;
    font-family: 'Montserrat', 'sans-serif';
    line-height: 0;
    border: 1px solid #2C2B30;
    margin-left: 15px;
    margin-top: 35px;
    font-size: 0.9rem;
    width: 130px;
    height: 35px;
}

.info-section button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.info-section .genre-modal {
    grid-column: 1/span 2;
    grid-row: 2/span 1;
}

.info-section .product-details {
    grid-column: 1/span 2;
    grid-row: 3/span 1;
    margin-bottom: 50px;
}

/* ANIMATION MODAL */

.modal {
    opacity: 0;
    animation: fadeIn 0.25s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* MEDIA QUERIES */

@media screen and (min-width: 500px) {
    .modal-content {
        margin: 3.5% 13%;
        height: 70%;
        width: 70%;
    }
}

@media screen and (min-width: 600px) {
    .info-section {
        width: 400px;
        margin-left: calc(50% - 200px);
        grid-template-rows: 100px 30px 1fr;
    }

    .info-section button {
        margin-left: 0px;
    }

    .info-section .genre-modal p {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 830px) {

    .close {
        margin-left: 95%;
    }

    .modal-content {
        margin: 100px calc(50% - 350px);
        width: 700px;
        height: 600px;
        padding: 10px;
    }

}

@media screen and (min-width: 1024px) {
    .modal-content {
        overflow: hidden;
    }
}

@media screen and (min-width: 1024px) {
    .container-item {
        margin: 0 18vw;
    }

    .item-modal {
        overflow: hidden;
        display: grid;
        grid-template-columns: 340px 340px;
        grid-template-rows: 650px;
    }

    /* GRID TABLET */

    .image-section {
        padding: 0px 15px;
        display: grid;
        grid-template-columns: 45px 1fr;
        grid-template-rows: 70px 350px 150px 100px;
    }

    .image-section h2 {
        margin-top: 40px;
        grid-column: 1/span 2;
        grid-row: 1/span 1;
        padding-left: 20px;
        z-index: 2;
    }

    .image-section .image-modal-main {
        grid-column: 1/span 2;
        grid-row: 2/span 2;
        object-fit: cover;
        height: 500px;
    }

    .image-section .price-margin-modal {
        grid-column: 1/span 1;
        grid-row: 3/span 1;
        background-color: white;
        border: 1px solid black;
        opacity: 0.9;
    }

    .image-section .presentation-images {
        display: none !important;
    }

    .presentation-images-tablet {
        display: block;
    }

    .info-section {
        width: 350px;
        padding: 0px 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 90px 100px 100px 120px 120px;
    }

    /* GRID INFO-SECTION */

    .info-section .select-options {
        margin-top: 40px;
        grid-column: 2/span 1;
        grid-row: 2/span 1;
    }

    .info-section button {
        margin-top: 100px;
        grid-column: 2/span 1;
        grid-row: 3/span 1;
    }

    .info-section .genre-modal {
        grid-column: 1/span 2;
        grid-row: 1/span 1;
    }

    .info-section .product-details {
        grid-column: 1/span 2;
        grid-row: 5/span 1;
        margin-bottom: 0;
    }

    .info-section .presentation-images-tablet {
        grid-column: 1/span 1;
        grid-row: 2/span 2;
    }

    .presentation-images-tablet img {
        display: block;
        margin-top: 15px;
        width: 80px;
        height: 90px;
        object-fit: cover;
    }

    /* TYPOGRAPHY INFO SECTION */

    .info-section .select-options-modal {
        font-size: 1rem;
    }

    .info-section button {
        padding-bottom: 10px;
    }

    .info-section button p {
        font-size: 0.9rem;
    }

}


/********************************************************************/

/***************************footer***********************************/

footer {
    margin-top: 50px;
    background-color: #2C2B30;
    height: 180px;
    box-shadow: -1px -1px 15px black;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 90px 40px 50px;
}

.contact-info {
    margin: 10px 15px;
    grid-column: 1/span 2;
    grid-row: 1/span 1;
    font-family: 'Montserrat', sans-serif;
    color: #F6F8F7;
    font-size: 0.8rem !important;
    line-height: 0.6;
}

.contact-info .phone,
.contact-info .email {
    font-size: 0.8rem !important;
}

.contact-info .contact {
    font-size: 0.9rem !important;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: white;
}

.social-media a {
    all: unset;
}

.social-media a:hover {
    cursor: pointer;
}

.social-media {
    margin-left: calc(50% - 75px);
    grid-column: 1/span 2;
    grid-row: 2/span 1;
}

.social-media img {
    width: 40px;
    margin: 5px 5px;
}

.copyright {
    grid-column: 1/span 2;
    grid-row: 3/span 1;
    margin-left: 10px;
    color: white;
    opacity: 0.3;
}

@media screen and (min-width:450px) {

    .arrow-right,
    .arrow-left {
        margin-top: -250px;
    }

    footer {
        height: 140px;
    }

    .footer-content {
        grid-template-rows: 90px 50px;
    }

    .contact-info {
        margin: 10px 20px;
        grid-column: 1/span 2;
        grid-row: 1/span 1;
    }

    .social-media {
        margin: 20px;
        grid-column: 2/span 1;
        grid-row: 1/span 1;
    }

    .social-media img {
        width: 40px;
        margin: 5px 5px;
    }

    .copyright {
        grid-column: 1/span 2;
        grid-row: 2/span 1;
    }
}

@media screen and (min-width:600px) {

    .envcontainer h1 {
        margin-left: 1.5em;
        text-align: left;
    }

    .social-media {
        grid-column: 2/span 1;
        grid-row: 1/span 1;
        margin-left: calc(80% - 180px);
    }

    .social-media img {
        margin: 10px;
        width: 50px;
    }

    .contact-info {
        line-height: 8px;
    }

    .contact-info .contact {
        font-size: 1.1rem !important;
    }

    .contact-info .phone {
        font-size: 0.9rem !important;
    }

    .contact-info .email {
        font-size: 0.9rem !important;
    }
}


/********************************************************************/

/*************stuff that is only for mobile version******************/
@media only screen and (max-width: 767px) {
    .modal {
        top: 0;
        right: 8px;
    }

    .modal-content {
        margin: 65px auto;
    }

    .aboutimg {
        display: none;
    }

    .envparagraphs {
        display: none;
    }

    .envinuit {
        display: none;
    }

    .keywords {
        margin: 0 2em;
    }
}

/********************************************************************/

/**********************MEdia queries tablet 768px********************/
@media all and (min-width: 768px) {
    /*************************ABOUT PAGE*****************************/

    .aboutimg img {
        height: 100%;
    }

    header {
        width: 100%;
    }

    .aboutlisstext h2 {
        text-align: center;
        font-size: 1.8em;
    }

    .liss {
        grid-area: img;
        margin: auto auto;
    }

    .wrapperabout {
        padding-top: 5.9em;
        padding-bottom: 1em;
        margin: 0 3em;
        grid-gap: 5em;
        display: grid;
        grid-template-columns: 1.2fr 0.8fr;
        grid-template-areas:
            "details img";
    }

    .aboutlisstext p {
        margin: 1em 0;
    }

    .aboutlisstext {
        place-self: center;
        grid-area: details;
    }

    .wrapperabout2 {
        padding-top: 3em;
        padding-bottom: 40px;
        margin: 0 3em;
        display: grid;
        grid-gap: 2em;
        grid-template-rows: 300px;
        grid-template-columns: 0.8fr 1.2fr;
        grid-template-areas:
            "img1 details1";
    }

    .video {
        margin: 0 3em;
    }

    .abouthappyclients h2 {
        font-size: 1.8rem;
        margin: 0;
    }

    .aboutimg {
        grid-area: img1;
        height: 300px;
    }

    .aboutimg img {
        object-fit: cover;
    }

    .abouthappyclients {
        place-self: center;
        padding: 0;
    }

    .abouthappyclients p {
        margin: 1em 0;
        padding: 0;
        font-size: 1.1em;
    }


    /****************************************************************/

    /*****************************Environment page*******************/
    .envinuit {
        display: block;
        position: absolute;
        height: 70px;
        transform: translateY(6em) translateX(30em) rotate(25deg);
    }

    .envimg {
        height: 550px;
        margin-top: -10px;
    }

    .envimg img {
        object-fit: cover;
        width: 100%;
        height: 550px;
    }

    .envparagraphs {
        display: block;
        padding: 0;
        margin: 0;
    }

    #containerimg {
        margin: 0 3em;
    }

    .envparagraphs {
        margin-top: 85px;
    }

    .envparagraphs p {
        padding: 0.5em 0;
    }

    .wrapperenv {
        margin: 0 3em;
        padding: 3em 0;
        padding-top: 6em;
        grid-gap: 2em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            'par details2';
    }

    .envcontainer {
        grid-area: par;
    }

    .envvideo p {
        place-self: center;
    }

    .producmaterials {
        padding: 0;
    }

    .envcontainer h1 {
        margin: 0;
        margin-bottom: 1em;
    }

    .envcontainer p {
        margin: 0;
        padding: 0.5em 0;
        font-size: 1.1em;
    }

    .envwrapper1 {
        padding: 1em 0;
        margin: 0 3em;
        grid-gap: 2em;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas:
            "par details2"
    }

    .envvideo p {
        padding: 0;
        margin: 0;
        margin-top: 1em;
        font-size: 1.1em;
    }

    .producmaterials {
        margin: auto 0;
    }

    .producmaterials img {
        display: flex;
        justify-content: space-around;
        padding: 1em;
        margin-top: 1em;
    }

    .envbutton {
        display: block;
        text-align: center;
        padding: 4em;
    }

    .envbutton > button {
        text-align: center;
        margin: 1em;
        background-color: white;
        font-family: 'Montserrat', 'sans-serif';
        line-height: 0;
        width: 130px;
        height: 35px;
        font-size: 0.9rem;
        border: 1px solid #2c2b30;
        margin: 30px 30px 50px 30px;
    }

    /****************************************************************/

    /***************************HOME PAGE****************************/
    #k1024 {
        display: none;
    }

    .keywords {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            '. first first'
            'second second .'
            '. third third'
            'fourth fourth .';

        margin: 0 auto;
    }


    #demk1 {
        grid-area: first;
    }

    #demk2 {
        grid-area: second;
    }

    #demk3 {
        grid-area: third;
    }

    #demk4 {
        grid-area: fourth;
    }



    .middleimgs {
        margin: 0;
    }

    .story p {
        margin: 1em 0;
    }

    .story h2 {
        padding-bottom: 0;
    }

    .quote p {
        margin: 0;
    }

    .paragraph {
        margin: 1em 0;
    }

    .keywords em {
        font-size: 2.5em;
    }

    .environment p {
        margin: 0;
        margin-bottom: 1em;
        font-size: 1.1em;
    }

    .inuitone {
        transform: translateY(20em);
    }

    .inuittwo {
        transform: translateY(-3vh) translateX(75vw) rotate(-45deg);
    }
}

/********************************************************************/

/******************Media queries Desktop 1024px**********************/
@media all and (min-width: 1024px) {

    .video img {
        width: 70%;
        margin-left: 15%;
    }

    .border {
        margin-left: 70%;
        margin-top: 29%;
    }

    .bag {
        display: none;
    }

    .burgerMenu {
        display: none;
    }

    .headerAdj {
        margin: 0.5em 1em;
    }

    .desktop-menu {
        display: flex;

    }

    .desktop-menu div {
        margin: auto 0;

    }

    .desktop-menu div a {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.4em;
        text-align: center;
        text-decoration: none;
        margin: 1em;
        color: black;
        position: relative;
    }

    .desktop-menu div a::after {
        content: '';
        position: absolute;
        background: #2C2B30;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        transform: scaleX(0);
        transition: transform 245ms ease-in;
        transform-origin: right;
    }

    .desktop-menu div a:hover::after {
        transform: scaleX(1);
        transform-origin: left;

    }




    /*********************environment page***************************/

    .environment h2 {
        justify-self: start;
    }

    .happyclients h2 {
        justify-self: start;
    }

    .envp {
        padding-top: 4em;
    }

    .environment p {
        margin: 0;
    }

    .hcp {
        padding-top: 4em;
    }

    .gridproducts {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .inuitone {
        display: none;
    }

    .envimg {
        background-position: center center;
    }

    .wrapperenv {
        margin: 0 18vw;
        padding: 1em 0;
        grid-gap: 5em;
    }

    .xd {
        display: grid;
        margin: 0 18vw;
        padding: 1em 0;
        grid-template-columns: 1fr;
        grid-template-areas:
            'envvideo-area'
            'envpar-area';
    }

    .envwrapper1 {
        grid-area: envpar-area;
    }

    #containerimg {
        grid-area: envvideo-area;
    }

    .envvideo div {
        display: block;
    }

    .envbutton {
        display: none;
    }

    #containerimg {
        margin: auto 0;
    }

    .envvideo div {
        padding-top: 30px;
        padding-bottom: 0;
    }

    .envinuit {
        transform: translateY(2em) translateX(45em) rotate(20deg);
    }

    .envwrapper1 {
        margin: 0;
    }

    .quote p {
        justify-self: center;
    }

    .video {
        margin: 0;
        margin: 0 10vw;
    }

    /********************************************************/

    /*********************About page*************************/
    .abouthappyclients {
        padding: 0;
    }

    .wrapperabout {
        margin: 0 15vw;
        padding-top: 2em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'details img'
    }

    .wrapperabout2 {
        margin: 0 15vw;
        padding-top: 1em;
    }


    .aboutimg {
        margin: auto 0;
    }



    /********************************************************/

    /**********************Home page*************************/

    .middleimgs {
        display: none;
    }

    .middleimage1 {
        display: block;
    }

    .middleimage2 {
        display: block;
    }

    .middleimage1 img {
        max-width: 100%;
        height: auto;
    }

    .middleimage2 img {
        max-width: 100%;
        height: auto;
    }


    .para1024 {
        display: block;
    }

    #h {
        justify-self: start;
    }
}

/********************************************************************/

@media all and (min-width: 1300px) {

    .gridproducts section p {
        left: -46px;
        bottom: 47px;
        height: 35px;
        width: 130px;
        padding-top: 5px;
        font-size: 1.3rem;
    }

    .border {
        background-color: #2C2B30;
        font-family: 'Montserrat', 'sans-serif';
        line-height: 0;
        border: 1px solid white;
        width: 200px;
        height: 45px;
        margin-left: 67%;
        margin-top: 30%;
        font-size: 1.2rem;
        opacity: 0.85;
    }

    .gridproducts {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}

/*****************Media queries Desktop 1920px***********************/
@media all and (min-width: 1920px) {

    h1 {
        font-size: 2.3em;
    }

    .landscreenimg .ptext p {
        font-size: 1.6em;
    }

    .envinuit {
        display: none;
    }

    .inuitone {
        display: none;
    }

    .gridproducts {
        grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    }




    header {
        width: 100%;
    }
}
