body {
    overflow-x: hidden;
}

/* TYPOGRAPHY */

h4 {
    font-family: 'Lora', 'sans-serif';
    font-size: 1.5rem;
    margin: 20px;
    color: #2C2B30;
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: #2C2B30;
}

.price {
    font-family: 'Lora', serif;
    color: #404D66;
    margin-top: 65px;
    font-size: 1.2em;
    font-weight: 100;
}

.additional-details {
    font-family: 'Lora', serif;
    line-height: 5px;
    font-size: 1em;
    color: #45BAC1;
}

.inuit-picture {
    margin-left: calc(50% + 120px);
}

/* GRID SYSTEM ITEM */

.container-item {
    grid-column: 1/span 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1.2em;
}

/* HEADER CATEGORY */

.header-shop {
    margin-top: -9px;
    grid-column: 1/span 2;
    width: 100%;
    height: 250px;
    background-image: url("images/shopHeader.jpg");
    background-size: cover;
}

.item {
    margin: 20px;
    max-width: 280px;
    height: 550px;
    display: grid;
    grid-template-rows: 50px repeat(5, 60px) 130px 50px;
    grid-template-columns: 35px 1fr;
}

h4 {
    grid-row: 1/span 1;
    grid-column: 1/span 2;
}

.image-item {
    grid-row: 2/span 6;
    grid-column: 1/span 2;
    z-index: 2;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(90%) grayscale(60%);
    transition: filter 0.5s;
}

.image-item:hover {
    cursor: pointer;
    filter: brightness(100%) grayscale(10%);
}

.additional-details {
    grid-row: 8/span 1;
    grid-column: 1/span 2;
    text-align: right;
}

.price-margin {
    grid-row: 7/span 1;
    grid-column: 1/span 1;
    border: 1px solid black;
    z-index: 2;
    opacity: 1;
    background-color: white;
}

.price {
    transform: rotate(270deg);
}

/* MODAL */

.modal {
    display: none;
    z-index: 2;
    height: 102%;
    width: 102%;
    margin: -10px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    border: 1px solid black;
    overflow-y: scroll;
    margin: 5%;
    width: 85%;
    height: 90%;
    background-color: white;
    padding: 10px;
}

.modal-content img {
    width: 300px;
}

/* TYPOGRAPHY MODAL */

.close {
    font-size: 2.5rem;
    margin-left: 90%;
    cursor: pointer;
}

.product-details {
    margin: 25px 0px;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 0.9rem;
}

.genre-modal {
    text-align: center;
    font-size: 1.1rem
}

.genre-modal p {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 900;
    color: #45BAC1;
    font-size: 0.8rem;
    display: inline;
    margin-left: 10px;
}

h2,
.price-modal,
.genre-modal,
.select-options-modal {
    font-family: 'Lora', 'serif';
}

h2 {
    font-size: 2rem;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #2C2B30;
    text-shadow: 1px 2px 5px #909090;
}

.price-modal {
    color: #404D66;
    margin-top: 65px;
    font-size: 1.2rem;
    font-weight: 100;
}

/* SELECT */

.select-container select {
    margin-top: 10px;
    background-color: transparent;
    padding: 5px 5px 5px 10px;
    border: none;
    border-bottom: 1px solid #808080;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 0.9rem;
}

/* GRID MODAL */

.image-section {
    margin-top: -50px;
    padding: 0px 15px;
    display: grid;
    grid-template-columns: 35px repeat(3, 1fr) 35px;
    grid-template-rows: 50px 300px 130px 90px;
}

.image-section h2 {
    grid-column: 1/span 4;
    grid-row: 1/span 1;
    padding-left: 20px;
    z-index: 2;
}

.image-section .image-modal-main {
    grid-column: 1/span 5;
    grid-row: 2/span 2;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-section .price-margin-modal {
    grid-column: 1/span 1;
    grid-row: 3/span 1;
    background-color: white;
    border: 1px solid black;
    opacity: 0.9;
}

.presentation-images-tablet {
    display: none;
}

.image-section .presentation-images {
    margin: 10px;
    grid-column: 2/span 3;
    grid-row: 4/span 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
}

.presentation-images .image-modal-first {
    grid-column: 1/span 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.presentation-images .image-modal-second {
    grid-column: 2/span 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.presentation-images .image-modal-third {
    grid-column: 3/span 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.price-modal {
    transform: rotate(270deg);
    margin-top: 70px;
}

.info-section {
    padding: 0px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 20px 1fr;
}

.info-section .select-options {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
}

.info-section button {
    grid-column: 2/span 1;
    grid-row: 1/span 1;
    background-color: white;
    font-family: 'Montserrat', 'sans-serif';
    line-height: 0;
    border: 1px solid #2C2B30;
    margin-left: 15px;
    margin-top: 35px;
    font-size: 0.9rem;
    width: 130px;
    height: 35px;
}

.info-section button:hover {
    background-color: rgba(0,0,0,0.05);
}

.info-section .genre-modal {
    grid-column: 1/span 2;
    grid-row: 2/span 1;
}

.info-section .product-details {
    grid-column: 1/span 2;
    grid-row: 3/span 1;
}

/* ANIMATION MODAL */

.modal {
    opacity: 0;
    animation: fadeIn 0.25s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* MEDIA QUERIES */

@media screen and (min-width: 500px) {
    .modal-content {
        margin: 3.5% 13%;
        height: 90%;
        width: 70%;
    }
}

@media screen and (min-width: 600px) {
    .info-section {
        width: 400px;
        margin-left: calc(50% - 200px);
        grid-template-rows: 100px 30px 1fr;
    }

    .info-section button {
        margin-left: 0px;
    }

    .info-section .genre-modal p {
        font-size: 1.1rem;
    }

    .info-section .genre-modal {
        text-align: left;
    }
}

@media screen and (min-width: 830px) {

    .close {
        margin-left: 95%;
    }

    .modal-content {
        overflow: hidden;
        margin: 100px calc(50% - 350px);
        width: 700px;
        height: 600px;
        padding: 10px;
    }

<<<<<<< HEAD
}

@media screen and (min-width: 1024px) {
    .container-item {
        margin: 0 18vw;
=======
    .item-modal {
        display: grid;
        grid-template-columns: 340px 340px;
        grid-template-rows: 620px;
    }

    /* GRID TABLET */

    .image-section {
        margin-top: -70px;
        padding: 0px 15px;
        display: grid;
        grid-template-columns: 45px 1fr;
        grid-template-rows: 50px 390px 150px 100px;
    }

    .image-section h2 {
        grid-column: 1/span 2;
        grid-row: 1/span 1;
        padding-left: 20px;
        z-index: 2;
    }

    .image-section .image-modal-main {
        grid-column: 1/span 2;
        grid-row: 2/span 2;
        object-fit: cover;
        height: 540px;
    }

    .image-section .price-margin-modal {
        grid-column: 1/span 1;
        grid-row: 3/span 1;
        background-color: white;
        border: 1px solid black;
        opacity: 0.9;
    }

    .image-section .presentation-images {
        display: none;
    }

    .presentation-images-tablet {
        display: block;
    }

    .info-section {
        width: 350px;
        padding: 0px 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 90px 100px 100px 120px 120px;
    }

    /* GRID INFO-SECTION */

    .info-section .select-options {
        margin-top: 40px;
        grid-column: 2/span 1;
        grid-row: 2/span 1;
    }

    .info-section button {
        margin-top: 100px;
        grid-column: 2/span 1;
        grid-row: 3/span 1;
    }

    .info-section .genre-modal {
        grid-column: 1/span 2;
        grid-row: 1/span 1;
    }

    .info-section .product-details {
        grid-column: 1/span 2;
        grid-row: 5/span 1;
    }

    .info-section .presentation-images-tablet {
        grid-column: 1/span 1;
        grid-row: 2/span 2;
    }

    .presentation-images-tablet img {
        display: block;
        margin-top: 15px;
        width: 80px;
        height: 90px;
        object-fit: cover;
    }

    /* TYPOGRAPHY INFO SECTION */

    .info-section .select-options-modal {
        font-size: 1rem;
    }

    .info-section button {
        padding-bottom: 10px;
    }

    .info-section button p {
        font-size: 0.9rem;
    }

}

@media screen and (min-width: 830px) {
    .modal-content {
        overflow: hidden;
        margin: 100px calc(50% - 400px);
        width: 800px;
        height: 600px;
        padding: 10px;
>>>>>>> origin/master
    }
}
